
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: rgb(2, 0, 22);
  color : white;
}

h2{
  margin: 0;
}
.title{
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.selectedAthletes{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 53vw;
  height: 10vh;
  position : absolute;
  top: 7vh;
  left: 13vw;
}

.yearInput{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  position : absolute;
  width: 4vw;
  top: 7vh;
  left: 67vw;
}

.readMeButton{
  position : absolute;
  width: 4.8vw;
  top: 12vh;
  left: 67vw;
}

.readMeButton:hover{
  cursor: pointer;
}

.readmePopup{
  display: none;

}
.readmePopupOpen{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(2, 0, 22, 0.916);
  z-index: 100;
}

.readmePopupOpen div{
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  /* background-color: #555; */
  width: 60vw;
}

.readmePopupOpen button{
position: absolute  ;
width: 5vw;
left: 90vw;
top: 5vh;
color: tomato;
}


.athlete{
  text-align: center;
  height: 3vh;
  margin-right: .2em;
  margin-left: .2em;
  padding: .2em .6em .2em .6em;
  border-radius: .5em;
  font-size: .7em;
  background-color: rgb(4, 1, 48);
}
.athlete:hover{
  background-color: rgb(6, 1, 68);
  cursor: pointer;
}
.legend{
  position: absolute;
  top: 37vh;
  left: 2vw;
  width: 8vw;
  height: 25vh;
  overflow: visible;
  font-size: .6em;
  text-align: center;
}

.legendItem{
  border-radius: 5px;
  margin: .5em;
}

.legendItem:hover{
  cursor: pointer;
  width: 8.2vw;
}

.athlete:hover::after{
  content: "Delete this athlete";
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin: 1em;
  border-radius: 5px;
}

button{
  background-color: rgb(4, 1, 48);
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: .8em;
  cursor: pointer;
  font-family: 'Poppins';
  margin-right: 1em;
}
button:hover{
  background-color: rgb(6, 1, 68);
}

input{
  background-color: rgb(255, 255, 255);
  color:  rgb(4, 1, 48);
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: .8em;
  font-family: 'Poppins';
  width: 10vw;
  margin-bottom: .5em;
}

.optionChoice{
  position: absolute;
  top: 7vh;
  left: 2vw;
  width: 15vw;
  height: 5vh;
  overflow: visible;
}
.stoppingCircle:hover{
  cursor: pointer;
}

.rootSvg{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 0, 29);
  border-radius: 15px;
  padding: 0 1em 1em 1em;
  margin-top: 9vh;
}

.country{
  stroke: rgba(134, 160, 255, 0.236);
}

.country:hover{
  cursor: pointer;
}

.suggestions {
  background-color: rgba(4, 1, 48, 0.671);
}

.suggestions div{
  font-size: .8em;
  padding: .2em 1em .2em 0;
  /* margin-bottom: .05em; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.suggestions div:hover{
  background-color: rgba(6, 1, 68, 0.671);
  cursor: pointer;
}

.pathGroup:hover{
  cursor: pointer;
}

#greyDots{
  fill: rgba(45, 11, 237, 0.452);
}

#redDots{
  fill: rgb(255, 2, 2);
}

.mapAndOptions{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 70vw;
}

.axis {
  font-weight: bold;
  color: #fff;
}
.path-default {
  stroke-width: 2;
}
.path-hover {
  stroke-width: 6;
}

/* DESCRIPTION STYLING */

.bio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 23vw;
  background-color: rgb(2, 0, 29);
  border-radius: 15px;
  padding: 1em;
  color: #fff;
}

.bioDescription{
  overflow: auto;
  height: 50vh;
  text-align: justify;
  font-size: 0.9em; /* Adjust this value to your needs */
  padding-right: 1em ;
  margin: 1em 0.5em 1em 0;
}


.bioInformation{
  margin : .5em 1em .5em 0;
}

.bioDescription::-webkit-scrollbar {
  width: 7px;
  margin-left: 0.5em;
}

.bioDescription::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.bioDescription::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.bioDescription::-webkit-scrollbar-thumb:hover {
  background: #555;
}










#loading {
  position: absolute;
  left: 1vw;
  top: 5vh;
  z-index: 1000;
  width: 15vw;
  /* height: 15vh; */
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  padding-top: 20%;
  font-size: 1em;
  display: none; /* Hide it initially */
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 25px;
  background: linear-gradient(45deg, rgb(164, 190, 190), #fff);
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
